<div style="display: flex;">
    <div style="width: min-content;">
        <div *ngIf="chartsUrlList[0] != ''"
            style="width: 430px; height:  418px; background: white; border-radius: 10px; font-family: Palatino; text-align: center;">
            <iframe [src]="chartsUrlList[0] | safe: 'resourceUrl'" width="400" height="385" frameborder="0" style="margin-top: 10px;"></iframe>
            <button mat-button (click)="onCLickResetChart(1)"
                style="margin-left: 360px; line-height: 17px;">Reset</button>
        </div>
        <div *ngIf="chartsUrlList[0] == ''"
            style="width: 430px; height:  418px; background: white; border-radius: 10px; font-family: Palatino; text-align: center;">
            <mat-form-field style="text-align: center; margin-top: 30px;">
                <mat-label>Url panel</mat-label>
                <input id="urlPanelId1" type="text" [formControl]="testUrlPanelFormControl" matInput
                    placeholder="Url panel">
                <mat-error *ngIf="testNameFormControl.hasError('required')">
                    Url is <strong>required</strong>
                </mat-error>
            </mat-form-field><br />
            <button type="button" class="btn btn-secondary" (click)="onCLickAddUrl(1)"
                style="width:110px; margin-top: 30px; font-size: 20px;">Add</button>
        </div>
    </div>
    <div id="newTestPanel"
        style="margin-bottom: 20px; height: max-content; background: white;width: fit-content; min-width: fit-content; padding-left: 40px;  padding-right: 40px; border-radius: 10px; font-family: Palatino; text-align: center; margin-left: 10px;">
        <table>
            <tr>
                <h2 style="font-family: Palatino;">
                    <mat-form-field appearance="fill">
                        <mat-select [(value)]="testSetsInfoSelectedId" (selectionChange)="changeTestSets()">
                            <mat-option *ngFor="let testSetsInfo of testSetsInfoList" [value]="testSetsInfo.id">
                                {{testSetsInfo.testName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </h2>
            </tr>
            <tr>
                <mat-form-field style="width: 65px;margin:5px">
                    <mat-label>Series</mat-label>
                    <input type="number" min="1" [(ngModel)]="newTestSets.series"
                        [formControl]="testSeriesNumberFormControl" matInput placeholder="Series" required>
                    <mat-error *ngIf="testSeriesNumberFormControl.hasError('required')">
                        Series number is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="testSeriesNumberFormControl.hasError('min')">
                        The least series is 1
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 65px; margin:5px">
                    <mat-label>Users</mat-label>
                    <input type="number" min="1" [(ngModel)]="newTestSets.numberOfUsers"
                        [formControl]="testUserNumberFormControl" matInput placeholder="User" required>
                    <mat-error *ngIf="testUserNumberFormControl.hasError('required')">
                        Users number is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="testUserNumberFormControl.hasError('min')">
                        The smallest users number is 2
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 90px; margin:5px">
                    <mat-label>Start user money</mat-label>
                    <input type="number" min="1000" [(ngModel)]="newTestSets.startUserMoney"
                        [formControl]="testStartUserMoneyFormControl" matInput placeholder="Start user money" required>
                    <mat-error *ngIf="testStartUserMoneyFormControl.hasError('required')">
                        Start user money is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="testStartUserMoneyFormControl.hasError('min')">
                        The smallest start user money is 1000
                    </mat-error>
                </mat-form-field>
            </tr>
            <tr>
                <mat-form-field style="width: 100px; margin:5px">
                    <mat-label>Start number stock</mat-label>
                    <input type="number" min="1" [(ngModel)]="newTestSets.startStockNumber"
                        [formControl]="testStartStockNumberFormControl" matInput placeholder="Start number stock"
                        required>
                    <mat-error *ngIf="testStartStockNumberFormControl.hasError('required')">
                        Start number stock is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="testStartStockNumberFormControl.hasError('min')">
                        The smallest start number stock is 1
                    </mat-error>
                    <mat-error *ngIf="testStartStockNumberFormControl.hasError('max')">
                        The biggest start number stock is 10
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 90px; margin:5px">
                    <mat-label>Days</mat-label>
                    <input type="number" min="1" [(ngModel)]="newTestSets.days" [formControl]="testDaysFormControl"
                        matInput placeholder="Start user money" required>
                    <mat-error *ngIf="testDaysFormControl.hasError('required')">
                        Days number is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="testDaysFormControl.hasError('min')">
                        The smallest days number is 1
                    </mat-error>
                </mat-form-field>
            </tr>
            <tr>
                <mat-form-field style="width: 200px; margin:5px">
                    <mat-label>Test name</mat-label>
                    <input type="text" [(ngModel)]="newTestSets.testName" [formControl]="testNameFormControl" matInput
                        placeholder="Test name" required>
                    <mat-error *ngIf="testNameFormControl.hasError('required')">
                        Test name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" style="width: 140px; margin:5px;">
                    <mat-label>Company</mat-label>
                    <mat-select [(ngModel)]="testSelectedCompany.companyId" [formControl]="testChosedCompanyFormControl"
                        required>
                        <mat-option *ngFor="let company of testCompanyList" [value]="company.companyId">
                            {{company.companyName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="testChosedCompanyFormControl.hasError('required')">
                        Company is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </tr>
            <tr *ngIf="isShowSpinner == false" style="text-align: -webkit-center; height: 100px;">
                <button type="button" class="btn btn-success" id="sellBtn"
                    style="width:110px; margin-top: 30px; font-size: 20px;" (click)="onClickStartBtn()">Start</button>
                <button type="button" class="btn btn-primary" id="saveBtn"
                    style="width:110px; margin-top: 30px; font-size: 20px;" (click)="onClickSaveBtn()">Save</button>
            </tr>
            <tr style="text-align: -webkit-center; height: 100px;" *ngIf="isShowSpinner">
                <mat-spinner></mat-spinner>
            </tr>
        </table>
    </div>
    <div style="margin-left: 10px;">
        <div *ngIf="chartsUrlList[1] != ''"
            style="width: 430px; height: 418px; background: white; border-radius: 10px; font-family: Palatino; text-align: center;">
            <iframe [src]="chartsUrlList[1] | safe: 'resourceUrl'" width="400" height="385" frameborder="0" style="margin-top: 10px;"></iframe>
            <button mat-button (click)="onCLickResetChart(2)"
                style="margin-left: 360px; line-height: 17px;">Reset</button>
        </div>
        <div *ngIf="chartsUrlList[1] == ''"
            style="width: 430px; height: 418px; background: white; border-radius: 10px; font-family: Palatino; text-align: center;">
            <mat-form-field style="text-align: center; margin-top: 30px;">
                <mat-label>Url panel</mat-label>
                <input type="text" id="urlPanelId2" [formControl]="testUrlPanelFormControl" matInput
                    placeholder="Url panel">
                <mat-error *ngIf="testNameFormControl.hasError('required')">
                    Url is <strong>required</strong>
                </mat-error>
            </mat-form-field><br />
            <button type="button" class="btn btn-secondary" style="width:110px; margin-top: 30px; font-size: 20px;"
                (click)="onCLickAddUrl(2)">Add</button>
        </div>
    </div>
</div>
<div *ngIf="testDetailsList != null && testDetailsList.length != 0"
    style="height: max-content; background: white;width: fit-content; padding: 40px; border-radius: 10px; font-family: Palatino; text-align: center; margin-left:10%; min-width: 80%;">
    <table class="table table-striped">
        <tr style="background: #f4f4f4;">
            <th colspan="10">
                <h1 style="font-family: Palatino;">
                    RESULT
                </h1>
            </th>
        </tr>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Api</th>
            <th scope="col">Database</th>
            <th scope="col">Tester</th>
            <th scope="col">Full</th>
            <th scope="col">Volumes</th>
            <th scope="col">Buy max</th>
            <th scope="col">Buy min</th>
            <th scope="col">Sell max</th>
            <th scope="col">Sell min</th>
        <tr>
        <tr *ngFor="let test of testDetailsList">
            <td>{{test.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{test.exeTime}}ms</td>
            <td>{{test.dbTime}}ms</td>
            <td>{{getTesterTime(test.fullTestTime, test.exeTime)}}ms</td>
            <td>{{test.fullTestTime}}ms</td>
            <td>{{test.priceDetails.volumes}}</td>
            <td>{{test.priceDetails.maxBuyPrice}} PLN</td>
            <td>{{test.priceDetails.minBuyPrice}} PLN</td>
            <td>{{test.priceDetails.maxSellPrice}} PLN</td>
            <td>{{test.priceDetails.minSellPrice}} PLN</td>
        </tr>
    </table>
</div>